 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="col-6 text-right">
       
        <div class="input-group">
           <select ng-model="widget.id" class="form-control">
              <option value="" selected disabled>Add New Report</option>
              <option ng-repeat="row in allReports" ng-value="row.id" ng-bind="row.chart"></option>
            </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-success" ng-click="AddReports(widget.id)">Add</button>
          </div>
        </div>
   </div>
   
 </div>

 <div class="card-columns">
    <div class="card" ng-repeat="row in reports"  ng-init="loadInstance(row)">
      <div class="card-header" >
        <span ng-bind="row.chart"></span> 
        <a ng-click="forceRefresh(row)" ng-show="!instances['#table'+row.id]['interval']" class="p-1 float-right fa fa-sync-alt"></a>
        <a ng-click="stopRefresh(row)" ng-hide="!instances['#table'+row.id]['interval']" class="p-1 float-right fa fa-ban"></a>
      </div>
      <div class="card-body" id="table{{row.id}}">
      </div>
    </div>
  </div>
