 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" ng-bind="report.chart"></h1>
    <div class="col-6 offset-6 text-right">
      <div class="input-group ">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-sm btn-outline-secondary btn-success" ng-click="save(report)" type="button">Save</button>
          <button class="btn btn-sm btn-outline-secondary btn-danger" ng-click="delete(report)" type="button">Delete</button>
        </div>
      </div>
   </div>
   
</div>
<div class="row">
  <div class="col-12">
     <div id="output">Select your configuration and click load</div>
  </div>
</div>